PROJECT_ID=your-project-id
BQ_LOCATION=asia-southeast1
BQ_DATASET_STG=retailbi_stg
BQ_DATASET_MART=retailbi_mart

GOOGLE_APPLICATION_CREDENTIALS=C:\path\to\service-account.json
CSV_DELIMITER=,
RAW_DATA_DIR=data/raw
